---
---
@import "_sass/syntax";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Bebas+Neue&display=swap');
.wc-container {
  width: 90%;
  max-width:768px; 
  margin: 0 auto;

  &::after { /* Clearfix */
      content: '';
      display: table;
      clear: both;
  }
}
.title-link{
color:#2b2b2b
}
.main-header {
color: #2b2b2b;
border-top: 5px #2b2b2b solid;
text-align: center;
}
.main-footer {
background-color: #454343;
padding: 10px;
text-align: center;
color: #d7d0d0;
width: 100%;
}
.main-footer a{
color: #cf3030
}
.main-content {
flex: 1; /* 使主要内容区域占据剩余空间 */
}
hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px dashed #5d3e0bd0;
height: 0;
}
html {
background:#E0E0E0;
background-image: url({{site.baseurl}}/assets/css/images/bg3.png);
}
body {
display: flex;
flex-direction: column;
}
html, body {
height: 100%;
margin: 0;
}
.post h1 {
  margin-top: 25px;
  font-weight: 600;
}
.post h2 {
  margin-top: 24px;
  font-weight: 600;
}
.post h3 {
  margin-top: 23px;
  font-weight: 600;
}
.post h4 {
  margin-top: 22px;
  font-weight: 600;
}
.post h5 {
  margin-top: 20px;
  font-weight: 600;
}
.post h6 {
  margin-top: 20px;
  font-weight: 600;
}
.post{
  line-height: 1.5;
  letter-spacing: 1px;
}
.page-content {
  padding: 1em 0;
  color:#2F4F4F;
}
p.post-meta {
  line-height: 1.6;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 1.5;
  overflow: hidden;
  display: block;
  padding: 1em 0;
  color: #7A7A7A;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}
//md插入的图片格式
img {
  max-width: 100%;
  height: auto;
}
.site-title{
	font-family: 'Abril Fatface', serif;
}
.site-title a{
  color: #2C3E50;
}
.site-description{
	font-family: 'Merriweather', serif;
  color: #A9A9A9
}
.post p{
  padding:0px 0px;
}
#valine-comments {
  background-color: #FFFFFF; /* 评论区的背景色 */
  padding: 20px; /* 内边距 */
  border-radius: 8px; /* 圆角 */
}