/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



ol,ul {
    padding: 0;
    margin: 0;
    list-style-type: none; /* 去掉前置的点 */
li {
    display: inline-block; /* 使列表项水平排列 */
    margin-right: 10px; /* 添加水平间距 */
  }