---
layout: default
---

<div class="page-content wc-container">

	<div class="post">
		<h1>{{ page.title }}</h1>
		<p class="post-meta">
			{% if page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
	    {% endif %}
	  <span class="post-date">
    	{{ page.date | date: "%b %-d, %Y" }}
	</span> 
	  <!-- |
	  {% if page.tags.size > 0 %}
	  <span class="categories">
		  {% for page_tag in page.tags %}
			  <a href="{{ site.baseurl }}/tags/#{{ page_tag }}">{{ page_tag }}</a>
		  {% endfor %}
	  </span>
	  {% endif %} -->
		</p>
		<div class="post">
			{{ content }}
		</div>
		<div id="valine-comments">


		</div>
		<script>
			new Valine({
			  el: '#valine-comments',
			  appId: 'IRj09zYXUGh9ZfvZKMJEZPh1-gzGzoHsz',
			  appKey: 'DDvBjJK453ByPX9gfe04YSQj',
			  placeholder: '说点什么吧！',
			  path: window.location.pathname, // 当前页面路径，用于区分不同文章
			  avatar: 'wavatar',
			  pageSize: 10,
			  enableQQ: false
			});
		  </script>
	</div>
</div>
